cvzone==1.6.1
distlib==0.3.8
Django==4.2.3
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-tinymce==3.6.1
django-tinymce4-lite==1.8.0
djangorestframework==3.15.1
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.3.1
ipykernel==6.29.4
ipython==8.25.0
mediapipe==0.10.13
mp==0.5.0
mpmath==1.3.0
nltk==3.8.1
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pycparser==2.22
pyenchant==3.2.2
pyparsing==3.1.2
pyro-api==0.1.2
pyro-ppl==1.9.1
python-dateutil==2.9.0.post0
pyttsx3==2.90
pytz==2024.1
requests==2.31.0
scikit-learn==1.2.2
scipy==1.12.0

